.product_list_container {
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    gap: 50px;
}

@media (max-width: 2200px) {
    .product_list_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1500px) {
    .product_list_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .product_list_container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.product_type {
    font-size: 5rem;
    font-weight: 600;
}
