.body_container {
    height: 100%;
    .container {
        width: 60vw;
        height: 100%;
        margin: auto;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .title_container {
            width: 100%;
            min-width: 1000px;
            background-color: #fff;
            padding: 0 50px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);

            .title {
                font-size: 10rem;
                font-weight: 500;
                display: block;
                color: var(--primary-color);
            }
        }
        .order_items_container {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}
